<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Torne-se nosso informante - A GAZETA DE GERINGONTZAN - MKTV</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/core/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/core/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/core/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/core/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="/static/core/css/new-age.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">A GAZETA DE GERINGONTZAN</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#step-by-step">PASSO A PASSO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#colabore">CADASTRE-SE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">API</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://www.marduktv.com.br">parceiro MKTV</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container" stye="position: relative !important; height: 300px !important;">
            <div class="row">
              <div class="col-sm-2">
              </div>
                <div class="col-sm-4">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h2>Torne-se nosso</h2>
                            <h1>informante</h1>
                            <p>Dora R. está a procura de novos informantes para
                              suas investigações sobre as famílias criminosas da
                              cidade para trazer sempre a notícia mais quente
                              para "A Gazeta de Geringontzan".</p>
                            <a href="#step-by-step" class="btn btn-outline btn-xl page-scroll">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="position: relative;">
                    <div class="header-content">
                        <img src="/static/core/img/dorar.png" alt="Dora R. the Daring Reporter"
                          style="position: absolute; bottom: 0;">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="step-by-step" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="section-heading">PASSO A PASSO</h2>
                    <p>Faça o download do Track-o-Bot no site oficial e instale-o em seu computador.</p>
                    <a href="https://trackobot.com/" class="btn btn-outline btn-xl page-scroll">Baixar Track-o-Bot</a>
                    <p></P>
                    <p>Para colaborar com Dora R. você precisa instalar o programa Track-o-bot e seguir esses três passos simples:</p>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <img src="/static/core/img/passo01.png" alt="Passo 1" style="height: 150px; width: auto;">
                    <h3>PASSO 01</h3>
                    <p>Primeiro passo, clique com o botão direito no ícone do
                      aplicativo Track-o-Bot presente na barra de tarefas,
                      selecione a opção Open Profile... o seu browser irá abrir
                      na página Profile do Track-o-Bot.
                </div>
                <div class="col-md-4">
                    <img src="/static/core/img/passo02.png" alt="Passo 2" style="height: 150px; width: auto;">
                    <h3>PASSO 02</h3>
                    <p>Segundo passo, clique em opções, simbolizado por uma roda
                      dentada, e então clique em API.</p>
                </div>
                <div class="col-md-4">
                    <img src="/static/core/img/passo03.png" alt="Passo 3" style="height: 150px; width: auto;">
                    <h3>PASSO 03</h3>
                    <p>Terceiro passo, clique no botão REVEAL apar revelar seu
                      token de acesso, copie o seu username e token para o
                      cadastro.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="colabore" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Cadastre-se como colaborador</h2>
                        <p class="text-muted">E ajude a construir o maior e mais
                          preciso meta-game report de Hearthstone da atualidade</p>
                        <hr>
                        <br>
                        <form action="." method="post">
                        	  {% csrf_token %}
                              {{ form.as_p }}
                            <button type="submit" class="btn-warning btn-lg">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                <p><b>Email não é obrigatório</b>: Você pode deixar em branco caso deseje permanecer anônimo.</br>
                Você pode selecionar <b>Subscribe</b> para receber notícias por email quando novos reports
                sobre o Meta-game de Hearthstone forem lançados, e para receber aviso por email caso
                haja problemas com o seu token.</p>
                </div>
                <div class="col-md-4">
                </div>
            </div>
    </section>

    <section id="compromise" class="contact bg-primary">
        <div class="container">
            <h2>Nosso <i class="fa fa-heart"></i> compromisso!</h2>
            <ul>
                <li>Você pode remover o seu registro de nossos bancos de dados simplesmente mandando regenerar seu token</li>
                <li>O username e token são doados para nós por boa fé, com o intuito de melhorar a comunidade Hearthstone</li>
                <li>As conclusões tiradas a partir da análise dos dados obtidos por esse aplicativo são LIVRES e GRATUITOS</li>
                <li>Nós prometemos utilizar o username e token exclusivamente para obter dados de partidas</li>
                <li>Seu username e token, bem como seu email, NUNCA serão compartilhados com terceiros</li>
            </ul>
            <br>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="https://twitter.com/developercoppio"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="https://www.facebook.com/CorrelacoesCasuais/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="https://www.youtube.com/channel/UCKk82vm07gROfNhn12lpbQA"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
            <br>
            <h3>Atenciosamente, <b>Lucas Scoppio. e MKTV</b></h3>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>UX por <b>Marcos Lima</b>, baseado no &copy; 2016 Start Bootstrap.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/core/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/core/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/core/js/new-age.min.js"></script>

</body>

</html>
